body {
  font-family: Arial;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gray;
  color: white;
}


nav {
  text-decoration: none;
  background-color: gray;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.7rem;
  display: flex;
  justify-content: space-evenly;

}

a {
  text-decoration: none;
}
