<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>openSTS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/addsession">Add session</a>
</nav>
<br>
<br>
    {% block main %}
        {% if session.user_email %}
      You are registered as {{ session.user_email }}.
   {% else %}
      You are not registered. <a href="/login">Login</a>.
   {% endif %}

    {% endblock %}

</body>
</html>