<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav>
    <a href="/home">Home</a>
    <a href="/addticket">Create ticket</a>
</nav>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>Raised by</th>
            <th>Ticket type</th>
            <th>Description</th>
            <th>Time Submitted</th>
            <th>Ticket ID</th>

            <th></th>
        </tr>
    </thead>
    <tbody>

    {% for ticket_id in tickets %}
        <tr>
        <td> {{ ticket_id[1] }} </td>
        <td> {{ ticket_id[2] }} </td>
        <td> {{ ticket_id[3] }} </td>
            <td>{{ ticket_id[4] }}</td>
        <td> {{ ticket_id[0] }} </td>
        <td> <button onclick="confirm('confirm delete')">Delete</button> </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
</body>
</html>